# production ready build output
dist/
!dist/typecheck.macro.d.ts

# dependencies
node_modules/

# IDE
.vscode/

# benchmark data
benchmark/generated
benchmark/results

# test artifacts
tests-compiled/

# the scratchpad file is just for users to play with
scratchpad/scratchpad.ts