# Used for https://github.com/avajs/typescript
# and for storing compiled Typescript files when running tests
temp_build/

# production ready build output
dist/

# dependencies
node_modules/

# IDE
.vscode/